<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>キャラ作成</title>
</head>
<body>
	<form method="POST" th:action="@{/Command}">
		キャラ作成

		<th:block th:each="detail, detailStatus : ${details}">
			<p>
				名前 <input type="text" th:attr="name='details[' + __${detailStatus.index}__+'].charaName'">
			</p>
			<input type="radio" th:attr="name='details[' + __${detailStatus.index}__+'].jobName'" value="剣士">剣士
    		<input type="radio" th:attr="name='details[' + __${detailStatus.index}__+'].jobName'" value="魔法使い">魔法使い
    		<input type="radio" th:attr="name='details[' + __${detailStatus.index}__+'].jobName'" value="格闘家">格闘家
		</th:block>
		<input type="submit" value="次へ">
	</form>
</body>
</html>

